<div class="blog-post">
	<span class="header"><%= post.title %></span><br />
	<span class="meta"><%= pretty_date post.created_at %><%= edit_link edit_post_path(post) %></span>
 	<div class="body"><%= post.body.html_safe %>
		<div class="clearfix"></div>
	</div>
</div>