$background: #D8CAA8;
$foreground: #363942;
$highlight: #382513;
$manage: #A65526;
$manage-highlight: #D49716;

html, body, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

html {
	background: $background;
}

body { 
	color: $foreground; 
	font-family: Helvetica, Arial, sans-serif;
  font-size: .9em;
  line-height: 1.4em;
	height: 100%;
	min-width: 855px;
}

img {
	border: 1px solid $foreground;
	&.noborder {
		border: none !important;
	}
}

ul li {
	list-style: square inside;
	margin-left: 0;
}

p {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	img {
		border: 1px solid #333;
		margin: 10px 10px 10px 0;
		float: left;
		&.right {
			float: right;
			margin: 10px 0 10px 10px;
		}
	}
	&:last-of-type {
		margin-bottom: 0;
	}
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
	color: #284907; 
	text-decoration: none; 
	outline: none;
}

a:hover { color: #5C832F; }
a:active { outline: none }

h1, h2, .header {
	line-height: 0;
	text-shadow: 0 1px 1px #ddd; 
}

.header {
	font-size: 1.4em;
	font-weight: bold;
	color: #382513;
}

h3 {
	text-shadow: 0 1px 1px #ddd; 
	padding-left: 10px;
}

hr {
	border: 0;
	color: #000;
	background-color: #000;
	height: 1px;
	width: 100%;
	text-align: center;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

div.field, div.actions {
  margin-bottom: 10px;
}
/*
#flash {
  width: 100%;
	text-align: center;
	font-weight: bold;
	div {
		width: 600px;
		margin: 1px auto;
		padding: 5px 10px;
		&.alert {
			border: 1px #4C0016 solid;
			background: #BF7567;
			color: #4C0016;
		}
		&.notice {
			border: 1px #27302E solid;
			background: #849C65;
			color: #efefef;
		}
	}
}
*/

.top-info {
	float: right;
	margin: 0 10px 0 0;
	div {
		display: block;
	}
	#flash {
		min-width: 300px;
		margin: 0 0 5px auto;
		div {
			padding: 2px 5px;
			border-radius: 5px;
			font-size: .9em;
			text-align: center;
			font-weight: bold;
			&.alert {
				background: #BF7567;
				color: #440016;
			}
			&.notice {
				background: #849C65;
				color: #efefef;
			}
		}
	}
	.admin {
		padding: 2px 5px;
		margin: 0 0 5px auto;
		border-radius: 5px;
		font-size: .9em;
		text-align: center;
		background: $manage-highlight;
		width: 300px;
		a {
			padding: 3px 12px;
			border-right: 1px dotted #000;
			&:last-of-type {
				border: none;
			}
		}
	}
}

/***********************************/
/* BASIC LAYOUT */
/***********************************/
#content {
	margin: 10px auto 80px auto;
	/*padding-top: -80px;*/
	border: 1px dotted $highlight;
	border-left: none;
	border-right: none;
	padding: 10px;
	width: 800px;
}

@media screen and (max-width: 1000px) {
	#bryimg {
		visibility: hidden;
	}
}

#bryimg {
	background: $background url('/assets/bry.png') no-repeat;
	position: absolute;
	top: 70px;
	width: 300px;
	height: 400px;
	left: 0;
	z-index: -1;
}

#bassclef {
	background: $background url('/assets/bassclef-1.png') no-repeat;
	margin-left: -150px;
	margin-top: -30px;
	float: left;
	width: 100px;
	height: 99px;
	z-index: -1;
}

table {
	border-spacing: 0px;
}

#topbar {
	font-size: 16px;
	letter-spacing: 4px;
	background: $highlight;
	width: 100%;
	text-align: center;
	color: $foreground;
	margin: 15px 0;
	.watdo {
		padding: 10px;
		height: 100%;
		color: $background;
		padding: 15px;
		display: inline;
	}
}

#footer-nav {
	background: $foreground;
	text-align: center;
	padding: 0;
	margin: 20px 0;
	width: 100%;
}

#footer-nav a {
	display: inline-block;
	line-height: 20px;
	background: $background;
	height: 20px;
	width: 110px;
	padding: 0 5px;
	margin: 0 1px;
}

.hidden {
	display: none;
}

.manage {
	font-size: .9em;
	font-style: italic;
	a {
		color: $manage;
		&:hover {
			color: $manage-highlight;
		}
	}
}

.delete-link {
	color: #a00;
	padding: 10px 0 0 0;
	&:hover {
		color: #f00;
	}
}