// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-post {
	border: 0;
	width: 100%;
	margin-bottom: 30px;
	.body {
		padding-left: 20px;
		border-left: 1px dotted #000;	
	}
	&:last-of-type {
		margin-bottom: 5px;
	}
}

.blog-post .meta, .comment .meta {
	font-size: .8em;
	font-style: italic;
}

.meta .edit-link {
	padding: 0 10px;
}

.comment-info {
	border-bottom: 1px dotted #000;
	width: 100%;
	padding: 0;
	margin: 0;
}

.comment {
	background: #837867;
	border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
	margin-left: 20px;
	color: #fff;
	width: 80%;
	line-height: 1.3em;
	.name {
		font-weight: bold;
	}
	.body {
		padding-left: 10px;
		padding-top: 5px;
	}
}